todo/soap-servlet-cli-ws/src/main/wsdl/SoapServletCliService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.todo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.todo/" name="TodoWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.todo/" schemaLocation="xsdFile.xsd"/>
</xsd:schema>
</types>
<message name="editTask">
<part name="parameters" element="tns:editTask"/>
</message>
<message name="editTaskResponse">
<part name="parameters" element="tns:editTaskResponse"/>
</message>
<message name="removeTask">
<part name="parameters" element="tns:removeTask"/>
</message>
<message name="removeTaskResponse">
<part name="parameters" element="tns:removeTaskResponse"/>
</message>
<message name="createTask">
<part name="parameters" element="tns:createTask"/>
</message>
<message name="createTaskResponse">
<part name="parameters" element="tns:createTaskResponse"/>
</message>
<message name="getTask">
<part name="parameters" element="tns:getTask"/>
</message>
<message name="getTaskResponse">
<part name="parameters" element="tns:getTaskResponse"/>
</message>
<message name="filterTasks">
<part name="parameters" element="tns:filterTasks"/>
</message>
<message name="filterTasksResponse">
<part name="parameters" element="tns:filterTasksResponse"/>
</message>
<portType name="TodoWebService">
<operation name="editTask">
<input wsam:Action="http://service.todo/TodoWebService/editTaskRequest" message="tns:editTask"/>
<output wsam:Action="http://service.todo/TodoWebService/editTaskResponse" message="tns:editTaskResponse"/>
</operation>
<operation name="removeTask">
<input wsam:Action="http://service.todo/TodoWebService/removeTaskRequest" message="tns:removeTask"/>
<output wsam:Action="http://service.todo/TodoWebService/removeTaskResponse" message="tns:removeTaskResponse"/>
</operation>
<operation name="createTask">
<input wsam:Action="http://service.todo/TodoWebService/createTaskRequest" message="tns:createTask"/>
<output wsam:Action="http://service.todo/TodoWebService/createTaskResponse" message="tns:createTaskResponse"/>
</operation>
<operation name="getTask">
<input wsam:Action="http://service.todo/TodoWebService/getTaskRequest" message="tns:getTask"/>
<output wsam:Action="http://service.todo/TodoWebService/getTaskResponse" message="tns:getTaskResponse"/>
</operation>
<operation name="filterTasks">
<input wsam:Action="http://service.todo/TodoWebService/filterTasksRequest" message="tns:filterTasks"/>
<output wsam:Action="http://service.todo/TodoWebService/filterTasksResponse" message="tns:filterTasksResponse"/>
</operation>
</portType>
<binding name="TodoWebServicePortBinding" type="tns:TodoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getTask">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filterTasks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TodoWebServiceService">
<port name="TodoWebServicePort" binding="tns:TodoWebServicePortBinding">
<soap:address location="http://localhost:8081/todo"/>
</port>
</service>
</definitions>