todo/soap-servlet-cli-ws/src/main/wsdl/xsdFile.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://service.todo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.todo/">

<xs:element name="createTask" type="tns:createTask"/>

<xs:element name="createTaskResponse" type="tns:createTaskResponse"/>

<xs:element name="editTask" type="tns:editTask"/>

<xs:element name="editTaskResponse" type="tns:editTaskResponse"/>

<xs:element name="filterTasks" type="tns:filterTasks"/>

<xs:element name="filterTasksResponse" type="tns:filterTasksResponse"/>

<xs:element name="getTask" type="tns:getTask"/>

<xs:element name="getTaskResponse" type="tns:getTaskResponse"/>

<xs:element name="removeTask" type="tns:removeTask"/>

<xs:element name="removeTaskResponse" type="tns:removeTaskResponse"/>

<xs:complexType name="editTask">
<xs:sequence>
<xs:element name="arg0" type="tns:transferTask" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transferTask">
<xs:sequence>
<xs:element name="content" type="xs:string" minOccurs="0"/>
<xs:element name="endDate" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="priority" type="xs:string" minOccurs="0"/>
<xs:element name="project" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="title" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterTasks">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="xs:string" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:string" minOccurs="0"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filterTasksResponse">
<xs:sequence>
<xs:element name="return" type="tns:transferTask" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTask">
<xs:sequence>
<xs:element name="arg0" type="tns:transferTask" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTask">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTask">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getTaskResponse">
<xs:sequence>
<xs:element name="return" type="tns:transferTask" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>