todo/soap-cli-ws/src/main/wsdl/xsdFile.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8 svn-revision#13980. --><xs:schema xmlns:tns="http://service.todo/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.todo/">

<xs:element name="listTask" type="tns:listTask"/>

<xs:element name="listTaskResponse" type="tns:listTaskResponse"/>

<xs:complexType name="listTask">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listTaskResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>